[buildout]
index = http://packages.lizardsystem.nl
find-links = http://packages.lizardsystem.nl/coverage-3.4a1.tar.gz
unzip = true
prefer-final = true
versions = versions
extensions = buildout.dumppickedversions
parts =
    sysegg
    django
    omelette
    console_scripts
    pyflakes
    sphinx
develop = .
#         local_checkouts/some_trunk_external
eggs =
    lizard-layers


[versions]
# Specific pins
lizard-layers =
# Reported by buildout.dumppickedversions


[sysegg]
recipe = osc.recipe.sysegg
force-sysegg = true
eggs =
    psycopg2
#    PIL
#    matplotlib
#    pyproj


[django]
# Sets up django for testing our application.
# See http://jacobian.org/writing/django-apps-with-buildout/
recipe = djangorecipe
version = 1.2.1
project = lizard_layers
projectegg = lizard_layers
settings = testsettings
test = lizard_layers
eggs = lizard-layers


[omelette]
# Creates a nice parts/omelette with our used eggs
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


[console_scripts]
recipe = zc.recipe.egg
interpreter = python
eggs =
    ${buildout:eggs}
# Development tools
    eazysvn
    coverage > 3.3.1
    pep8
    zest.releaser


[pyflakes]
# Hairy way to install pyflakes: old-style distutils script.
recipe = zc.recipe.egg
scripts =
   pyflakes
eggs =
   pyflakes
entry-points = pyflakes=pkg_resources:run_script
arguments = 'pyflakes', 'pyflakes'


[sphinx]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/doc/source
build = ${buildout:directory}/doc/build
eggs = ${buildout:eggs}
